# vim: ft=toml

# Configs about MQTT broker
[config]
hostname = 'mqtt_address.example.com'
port = 1883

# Write your username and password to connect with MQTT broker
[credentials]
username = "account_name_here"
password = "password_here"
