# vim: ft=toml

# Configs about MQTT broker
[config]
hostname = 'test.mosquitto.org'
port = 1883


# If required, uncomment the lines below and write your username and password to
# connect with MQTT broker

# [credentials]
# username = "account_name_here"
# password = "password_here"
